body{
  background-image: url("uno.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 200px;
  margin: 240px;

}

#mySidenav a {
  position: absolute;
  left: -90px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Calligraffitti', cursive;
  color: black;
  border-radius: 0 5px 5px 0;
}
.logo{
  float; border-top-right-radius: 
}
.img img{

  float: right;
  text-align: center;
  width: 800px;
  height: 250px;
  padding-right: 90px;
  margin: -250px;
  background: transparent;
  color: #fff;

 }

#mySidenav a:hover {
  left: 0;
}

#home{
  top: 100px;
  background-color: skyblue;
}

#about {
  top: 170px;
    background-color: #b3b3ff;
}

#gallery {
    top: 240px;
    background-color: #ffffb3;
}

#contact {
    top: 310px;
    background-color: #ffb3ff;
}

